## Data Wrangling: Data Cleaning

Now that the data has been sourced and consolidated into separate csv files for each city, I will further clean and  the data using pandas dataframes. I will also conduct some preliminary data exploration.

In [1]:
# import relevant packages
import pandas as pd
import os
import time

In [2]:
# establish the directory
directory = '/Users/limesncoconuts2/springboard_data/data_capstone_one/csv/'

### Consolidate all files into a single dataframe
It will be easier to explore the Airbnb listings and reviews data if the data for all of the cities is consolidated into one dataframe for listings and another for reviews.

In order to keep the data tidy and to preserve vital information about the data, I will add a column called 'city_name' each time a csv file is imported to preserve the information about which city the data corresponds to.

### Test code idea on one dataframe
Using the time package, I tested importing the dataframe on the largest listings and reviews files, which are for Paris.

In [3]:
# time test of largest listings dataframe
start_time = time.time()
df = pd.read_csv(directory + 'paris_listings.csv')
time_to_run = time.time() - start_time
print('Time:',time_to_run)
df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,2,4,5,7,9,10,11,14,16,18,21,24,25,27,28,29,30,35,40,43,44,45,46,47,48,50,54,59,60,63,67,72,73,85,86,92,93,95,96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Time: 874.1586329936981

,access,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,bathrooms,bed_type,bedrooms,...,space,square_feet,state,street,summary,thumbnail_url,transit,weekly_price,xl_picture_url,zipcode
0,NaN,4.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",22.0,353,48,78.0,1,Real Bed,1,...,"Plein de charme avec ses poutres apparentes, d...",NaN,Île-de-France,"Rue Legendre, Paris, Île-de-France 75017, France","Dans le village des Batignolles, un des quarti...",NaN,Metro: La fourche (Ligne 13) Train: Pont Card...,NaN,NaN,75017
1,NaN,2.0,"{TV,""Wireless Internet"",Kitchen,""Elevator in B...",9.0,13,13,13.0,1,Real Bed,0,...,NaN,NaN,Île-de-France,"Rue des Acacias, Paris, Île-de-France 75017, F...","Mon logement est proche de Arc de Triomphe, Ch...",NaN,NaN,NaN,NaN,75017
2,NaN,5.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",11.0,11,11,11.0,2,Real Bed,3,...,Appartement très agréable à vivre dans un jo...,NaN,Île-de-France,"Rue de Prony, Paris, Île-de-France 75017, France","Appartement de 145 m2, grand salon avec parque...",NaN,"Metro, bus et RER au pied de l'appartement. Me...",NaN,NaN,75017
3,NaN,2.0,"{TV,""Wireless Internet"",Kitchen,Heating,Washer...",28.0,363,58,88.0,1,Pull-out Sofa,0,...,NaN,NaN,Île-de-France,"Rue d'Héliopolis, Paris, Île-de-France 75017, ...","Mon logement est proche de TOUS COMMERCES, RES...",NaN,NaN,NaN,NaN,75017
4,NaN,6.0,"{Internet,""Wireless Internet"",Kitchen,""Elevato...",0.0,0,0,0.0,1,Real Bed,2,...,NaN,NaN,Île-de-France,"Rue de Phalsbourg, Paris, Île-de-France 75017,...",Joli 3 pièces situé juste à côté du superbe Pa...,NaN,NaN,NaN,NaN,75017

In [4]:
# time test of largest reviews dataframe
start_time = time.time()
df = pd.read_csv(directory + 'paris_reviews.csv')
time_to_run = time.time() - start_time
print('Time:',time_to_run)
df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Time: 1205.3079187870026

,listing_id,id,date,reviewer_id,reviewer_name,comments,date_recorded
0,3109,123127969,2016-12-27,12389804.0,Sophie,The host canceled this reservation the day bef...,2018-02-05
1,3109,123274144,2016-12-28,67553494.0,Tom'S,The host canceled this reservation 2 days befo...,2018-02-05
2,3109,207127433,2017-10-28,51636494.0,Patricia,Tout s'est bien déroulé. Merci bien. PG,2018-02-05
3,3109,208779822,2017-11-03,4142888.0,Patricia,Un petit nid fouiller douillet situé dans app...,2018-02-05
4,4886,9023,2009-09-05,15977.0,Alicia,"The studio was in an incredible location, and ...",2018-02-05

In [ ]:
# import listings files, add a city column for each file
listings_list = []
for file in os.listdir(directory):
    df = pd.read_csv(directory + file)
    df['city_name'] = file.split('_')[0]
    listings_list.append(df)
    # concat files in list
    listings = pd.concat(listings_list)
    # reset index
    listings.reset_index(drop=True, inplace=True)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (38,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.


/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25,27,48,96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5,7,9,10,11,27,29,45,59,60,61,92,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25,27,48,54,59,92,95,96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# import reviews files, add a city column for each file
reviews_list = []
for file in os.listdir(directory):
    df = pd.read_csv(directory + file)
    df['city_name'] = file.split('_')[0]
    reviews_list.append(df)
    # concat files in list
    reviews = pd.concat(reviews_list)
    # reset index
    reviews.reset_index(drop=True, inplace=True)

### Data Cleaning Due Diligence
Because of the sheer size of the data, I will start out by going through a checklist of standard aspects to investigate in a dataset.

#### Missing Data

#### Duplicate Rows

#### Untidy Data

#### Outliers

#### Summary Statistics
(.describe())/frequency counts/plots

**Other Stuff**
- need to process columns
- column types can signal unexpected data values
- summary statistics
- merging/concatenating data
- assert statements

#### Check to see if there are user ids across different cities